html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: Georgia, Times, "Times New Roman", serif;
}

body {
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

.l-box {
  padding: 2em;
}

.header .pure-menu {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.pure-menu-link {
  padding: 1em .7em;
}

.text-box {
  background: rgb(49, 49, 49); /* bluish grey */
  color: rgb(255, 190, 94); /* steel blue */
}

.text-box-head {
  color: #fff;
  padding-bottom: 0.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 24px;
}

.text-box-subhead {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text-box-subhead {
  padding: 0;
  list-style: none;
}

.text-box-subhead li {
  border-top: 1px solid rgb(255, 190, 94);
  padding: .5em 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-box {
  text-align: center;
  font-size: 120%;
  border-bottom: 1px solid #eee;
}

.form-box .pure-button {
  background-color: #61b842;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: .2rem;
  margin: 0.3em 0.2em;
}

.pure-form input[type] {
  margin: 0.3em 0.2em;
  text-align: center;
}

.footer {
  background: #111;
  color: #666;
  text-align: center;
  padding: 1em;
  font-size: 80%;
}

.article-list {
  border-bottom: 1px solid #ccc;
}
